
body{
	padding-right: 150px;
	padding-left: 150px;
}
.menu{	
	background-color: #545352;
	width: 1000px;
	height: 50px;
	border-radius: 20px;
}
.menu a {
	padding: 0;
	color: white;
	text-decoration: none;
	list-style: none;
	display: inline-block;

}

.menu a:hover{
	background-color: #db9169;
		border-radius: 10px;

}
.menu a p{
	display: block;
	padding-right: 46px;
	padding-left: 46px;
}
.Titulo{
	padding-top: 25px;
	text-align: center;
}
.Container{	
	padding-left: 50px;
	font-size: 1.2em;
	padding-right: 50px;
	height: 100%;

}
.presentacion1{
	background-color: #807f7e;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	border-radius: 10px;

}
.presentacion2{
	background-color: #c7c2bf;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	border-radius: 10px;

}
footer{
	height: 50px;
	background-color: #545352;
	text-align: center;
	padding-top: 10px;

}
